.d-header {
  border-bottom: 8px solid #fdfbf9;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

// UpCloud footer ad color
div#upcloud-bottom svg {
  fill: #ffffff;
}

// Last Visit separator re-coloring
.topic-list .topic-list-item-separator td,
.topic-post-visited-line {
  border-bottom: 1px solid #eb5f05 !important;
}

.topic-list .topic-list-item-separator td span,
.topic-post-visited-message,
.chat-message-separator {
  color: #eb5f05 !important;
}
.chat-message-separator.divider {
  background-color: #eb5f05 !important;
}

.d-header-icons .unread-notifications,
.chat-channel-unread-indicator {
  background-color: #1f69d3;
  color: #fdfbf9;
}

.header-dropdown-toggle .flagged-posts,
.header-dropdown-toggle .queued-posts,
.header-dropdown-toggle .reviewables {
  background: #b70614;
  border: 1px solid #fff;
  color: #fff;
}
